@font-face {
    font-family: 'Sketch';
    src: url('/assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
}

h2 {
    font-family: sketch;
    font-size: 50px;
}

label {
    font-weight: bold;
}

#fechaNacimiento {
    opacity: .6;
}

section {
    background-color: #363232;
}