@font-face {
    font-family: 'Sketch';
    src: url('/assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
}

h1 {
    font-family: sketch;
    font-size: 80px;
}

h5 {
  font-family: sketch;
  font-size: 2rem;
}