<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origen Tattoo</title>
    <link rel="stylesheet" href="/assets/styles/error.css">
<body>
<div class="container ">
<img src="/assets/images/Web_Photo_Editor.jpg" alt="" id="imagen">
</div>
<div class="container ">
    <p><%= error %></p>
</div>
</body>

</html>
