<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles/landingpage.css">
</head>

<body>
    <div id="backgroundimage">
        <div class="container text-center">
            <img src="/assets/images/miproyecto.png" alt="">
        </div>
        <div>
            <ul class="nav justify-content-center" style="align-items: center">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#" style="opacity: auto;"><strong>INICIO</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>TATUAJES</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>PIERCINGS</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>ARTISTAS</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>ESTILOS</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>COTIZACIÓN</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>CÓMO LLEGAR</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#"><strong>CONTACTO</strong></a>
                </li>
                <nav class="navbar navbar-expand-sm justify-content-center">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <div class="div1" class="btn-toolbar">
                        <a href="formregister" class="btn btn-dark fw-bold me-4 " role="button">REGISTRARSE</a>
                        <a href="formlogin" class="btn btn-dark fw-bold " role="button">INICIAR SESIÓN</a>

                    </div>
                </nav>
            </ul>
        </div>
        <div class="container  text-center mt-5">
            <button style="margin-top: 150px" type="button" class="btn btn-dark">AGENDAR CITA</button>
        </div>
    </div>

    <div class="row p-md-2" id="tattooPreview">
        <h1 id="fuente" class="col-12">Tatuajes</h1>

        <div class="d-flex justify-content-center flex-wrap">
        <div class="card col-md-6 col-lg-6 m-3 ms-4" style="width: 18rem; height: 30rem;">
            <img src="/assets/images/ojolineastattoo.jpeg" class="card-img-top" alt="Tatuaje ojo con lineas">
            <div class="mt-2">
              <h5 class="card-title">Ojo con lineas curvas</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>
        
        <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 30rem;">
            <img src="/assets/images/ramafloresrojas.jpg" class="card-img-top" alt="Rama de flores rojas">
            <div class="mt-2">
              <h5 class="card-title">Rama con flores rojas</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>
        
        <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 30rem;">
            <img src="/assets/images/blackoutflores.jpeg" class="card-img-top" alt="blackout con flores">
            <div class="mt-2">
              <h5 class="card-title">Blackout con flores</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>

        <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 30rem;">
            <img src="/assets/images/gatossiameses.jpeg" class="card-img-top" alt="Gatos siameses">
            <div class="mt-2">
              <h5 class="card-title">Gatos siameses</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>
      </div>

        <div class="mt-5">
            <a href="" class="btn btn-outline-dark">Ver más</a>
        </div>
    </div>

    <div class="row p-md-4 " id="piercingspreview">
        <h1 id="fuente" class="col-12 text-center">Piercings</h1>

        <div class="d-flex justify-content-center flex-wrap">
        <div class="card col-md-6 col-lg-6 m-3 ms-4" style="width: 18rem; height: 25rem;">
            <img src="/assets/images/snakebites.jpeg" class="card-img-top" alt="Snake bites">
            <div class="mt-2">
              <h5 class="card-title">Snake Bites</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>
        
        <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 25rem;">
            <img src="/assets/images/nostril.jpeg" class="card-img-top" alt="Nostril">
            <div class="mt-2">
              <h5 class="card-title">Nostril</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>
        
        <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 25rem;">
            <img src="/assets/images/transversal.jpeg" class="card-img-top" alt="Transversal">
            <div class="mt-2">
              <h5 class="card-title">Transversal</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
        </div>

        <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 25rem;">
            <img src="/assets/images/verticallabret.jpeg" class="card-img-top" alt="Vertical Labret">
            <div class="mt-2">
              <h5 class="card-title">Vertical Labret</h5>
            </div>
            <div class="mt-4">
              <a href="#" class="btn btn-dark">Más información</a>
            </div>
          </div>
        </div>

        <div class="mt-5">
            <a href="" class="btn btn-outline-dark">Ver más</a>
        </div>
    </div>

    </div>
</body>

</html>