<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/styles/landingpage.css">
  <title>Principal</title>
</head>

<body>
  <div id="backgroundimage">
    <div class="container text-center">
      <img src="/assets/images/miproyecto.png" alt="">
    </div>
    <div>
      <ul class="nav justify-content-center" style="align-items: center">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" style="opacity: auto;"><strong>INICIO</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="tattoocatalogue"><strong>TATUAJES</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="piercingscatalogue"><strong>PIERCINGS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#tattooartistspreview"><strong>ARTISTAS</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#locationpreview"><strong>UBICACIÓN</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><strong>COTIZACIÓN</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#"><strong>CONTACTO</strong></a>
        </li>
        <nav class="navbar navbar-expand-sm justify-content-center">
          <ul class="navbar-nav mr-auto">
          </ul>
          <div class="div1" class="btn-toolbar">
            <a href="formregister" class="btn btn-dark fw-bold me-4 " role="button">REGISTRARSE</a>
            <a href="formlogin" class="btn btn-dark fw-bold " role="button">INICIAR SESIÓN</a>

          </div>
        </nav>
      </ul>
    </div>
    <div class="container  text-center mt-5">
      <a href="makeabooking" class="btn btn-dark fw-bold" style="margin-top: 150px">AGENDAR CITA</a>
    </div>
  </div>

  <div class="p-md-2" id="tattooPreview">
    <h1 class="col-12">Tatuajes</h1>

    <div class="d-flex justify-content-center flex-wrap">
      <div class="card col-md-6 col-lg-6 m-3 ms-4" style="width: 18rem; height: 30rem;">
        <img src="/assets/images/ojolineastattoo.jpeg" class="card-img-top" alt="Tatuaje ojo con lineas">
        <div class="mt-2">
          <h5 class="font card-title">Ojo con lineas curvas</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#moreInfo">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 30rem;">
        <img src="/assets/images/ramafloresrojas.jpg" class="card-img-top" alt="Rama de flores rojas">
        <div class="mt-2">
          <h5 class="font card-title">Rama con flores rojas</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 30rem;">
        <img src="/assets/images/blackoutflores.jpeg" class="card-img-top" alt="blackout con flores">
        <div class="mt-2">
          <h5 class="font card-title">Blackout con flores</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6  m-3" style="width: 18rem; height: 30rem;">
        <img src="/assets/images/gatossiameses.jpeg" class="card-img-top" alt="Gatos siameses">
        <div class="mt-2">
          <h5 class="font card-title">Gatos siameses</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <a href="tattoocatalogue" class="btn btn-outline-dark fw-bold ">Ver más</a>
    </div>

  </div>

  <div class="p-md-4 " id="piercingspreview">
    <h1 class="col-12">Piercings</h1>

    <div class="d-flex justify-content-center flex-wrap">
      <div class="cardsizepiercings card col-md-6 col-lg-6 m-3 ms-4">
        <img src="/assets/images/snakebites.jpeg" class="card-img-top" alt="Snake bites">
        <div class="mt-2">
          <h5 class="font card-title">Snake Bites</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="cardsizepiercings card col-md-6 col-lg-6  m-3">
        <img src="/assets/images/nostril.jpeg" class="card-img-top" alt="Nostril">
        <div class="mt-2">
          <h5 class="font card-title">Nostril</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="cardsizepiercings card col-md-6 col-lg-6  m-3">
        <img src="/assets/images/Transversal.jpeg" class="card-img-top" alt="Transversal">
        <div class="mt-2">
          <h5 class="font card-title">Transversal</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="cardsizepiercings card col-md-6 col-lg-6  m-3">
        <img src="/assets/images/verticallabret.jpeg" class="card-img-top" alt="Vertical Labret">
        <div class="mt-2">
          <h5 class="font card-title">Vertical Labret</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <a href="piercingscatalogue" class="btn btn-outline-dark fw-bold ">Ver más</a>
    </div>
  </div>

  <div class="p-md-4" id="tattooartistspreview">
    <h1 class="col-12">Artistas</h1>

    <div class="d-flex justify-content-center flex-wrap">
      <div class="card col-md-6 col-lg-6 m-3" style="width: 18rem; height: 28rem;">
        <img src="/assets/images/casiquetatuador.jpg" class="imageartists card-img-top" alt="casique">
        <div class="mt-2">
          <h5 class="font card-title">Casique</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6 m-3" style="width: 18rem; height: 28rem;">
        <img src="/assets/images/eduartetatuador.png" class="imageartists card-img-top" alt="casique">
        <div class="mt-2">
          <h5 class="font card-title">Eduarte</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6 m-3" style="width: 18rem; height: 28rem;">
        <img src="/assets/images/odytatuador.png" class="imageartists card-img-top" alt="casique">
        <div class="mt-2">
          <h5 class="font card-title">Ody</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6 m-3" style="width: 18rem; height: 28rem;">
        <img src="/assets/images/silviatatuador.jpg" class="imageartists card-img-top" alt="casique">
        <div class="mt-2">
          <h5 class="font card-title">Silvia</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

      <div class="card col-md-6 col-lg-6 m-3" style="width: 18rem; height: 28rem;">
        <img src="/assets/images/tovarbeinktatuador.jpg" class="imageartists card-img-top" alt="casique">
        <div class="mt-2">
          <h5 class="font card-title">Tovarbeink</h5>
        </div>
        <div class="mt-2">
          <a href="#" class="btn btn-dark">Más información</a>
        </div>
      </div>

    </div>
  </div>

  <div class="p-md-4" id="locationpreview">
    <h1 class="col-12">Ubicaciones</h1>

    <div class="d-flex justify-content-center flex-wrap">

      <div class="card col-md-6 col-lg-6 m-3" style="width: 600px; height: 450px;">
        <div class="embed-responsive embed-responsive-1by1 w-100 h-100 ">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5020943174563!2d-75.5735708!3d6.1972914999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e46831905929e9b%3A0x2434302231041cab!2sORIGEN%20Tattoo%20-%20C.C.%20Santa%20Fe!5e0!3m2!1ses-419!2sco!4v1700926829225!5m2!1ses-419!2sco"
            class="embed-responsive-item w-100 h-100 " allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
          <h5 class="font card-title">C.C Santa Fe</h5>
        </div>
      </div>
    

      <div class="card col-md-6 col-lg-6 m-3" style="width: 600px; height: 450px;">
        <div class="embed-responsive embed-responsive-1by1 w-100 h-100 ">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2613007930263!2d-75.57319972427139!3d6.2292413265113575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44284a5d344ad7%3A0x9364bdfaa7f5c8f!2sORIGEN%20Tattoo%20-%20C.C.%20Premium%20Plaza!5e0!3m2!1ses-419!2sco!4v1700927861459!5m2!1ses-419!2sco"
            class="embed-responsive-item w-100 h-100 " allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
          <h5 class="font card-title">C.C Premium plaza</h5>
        </div>
      </div>

    </div>



  </div>

  <div class="modal fade" id="moreInfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="d-flex modal-body">
          <div class="w-50">
          <img src="/assets/images/ojolineastattoo.jpeg" alt="Tatuaje ojo con lineas" class="w-100 ">
          </div>
          <div class="w-50  ">
            <h2 class="font ms-3">Ojo con lineas curvas</h2>
            <p> </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

</body>


</html>