<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origen Tattoo</title>
    <style>
        body {
            background-color: #333; 
            color: white; 
            font-size: 24px; 
            text-align: center; 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            font-size: 36px; 
            margin-bottom: 20px; 
        }
    </style>
</head>

<body>
    <div>
        <h1>¡Tu cita ha sido agendada correctamente!</h1>
        <a href="/landing" class="btn btn-light">Regresar al inicio</a>
     
    </div>
</body>

</html>
