<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-qW6eGx2QYJz9RqEGPELAv52XH2DZlb9TqLo7hXQFqgR6u5c5k6Azl3i5F2ZT3Y" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/styles/navbar.css">
  <link rel="stylesheet" href="/assets/styles/landingpage.css">
    <style>
        @font-face {
            font-family: 'Sketch';
            src: url('assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
        }

        h1 {
            font-family: sketch;
            font-size: 80px;
        }
        
        h5 {
          font-family: sketch;
          font-size: 30px;
      }
    </style>

<body style="background-color: #887878;">
  <%- include ('../partials/navbar.ejs') %>

  <div class="container mt-5">
    <h1 class="text-center">Tatuajes </h1>
</div>
<div class="d-flex justify-content-center">
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-3 mb-5">
        <div class="card p-3">
            <img src="https://i.pinimg.com/280x280_RS/63/33/0a/63330a06f65f3dc3cde5ed87149ba179.jpg" class="card-img-top" alt="Imagen de Producto 1">
            <div class="card-body text-center">
                <h5 class="card-title">Brujula Azul</h5><br>
                <button type="button" class="btn btn-primary" style="background-color: #40292d; border-color: #000000; color: #ffffff;" data-bs-toggle="modal" data-bs-target="#modalProducto1">
                    Más información
                </button>
            </div>
        </div>
    </div>

        
        <div class="col-md-3 mb-5">
            <div class="card p-3">
                <img src="https://i.pinimg.com/280x280_RS/4c/a6/ee/4ca6eee3e43be6f50db1041acdbff63a.jpg" class="card-img-top" alt="Imagen de Producto 2">
                <div class="card-body text-center">
                    <h5 class="card-title">Rosa en el cuello</h5><br>
                    <button type="button" class="btn btn-primary" style="background-color: #40292d; border-color: #000000; color: #ffffff;" type="button" data-bs-toggle="modal" data-bs-target="#modalProducto2">
                        Más información
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-5">
          <div class="card p-3">
              <img src="https://sf.ezoiccdn.com/ezoimgfmt/i0.wp.com/procrastinafacil.com/wp-content/uploads/2021/12/minimalista-tatuaje-medusa-16-1024x1024.jpg?ssl=1&ezimgfmt=rs:256x256/rscb1/ngcb1/notWebP" class="card-img-top" alt="Imagen de Producto 2">
              <div class="card-body text-center">
                  <h5 class="card-title">Medusa</h5><br>
                  <button type="button" class="btn btn-primary" style="background-color: #40292d; border-color: #000000; color: #ffffff;" data-bs-toggle="modal" data-bs-target="#modalProducto3">
                      Más información
                  </button>
              </div>
          </div>
      </div>
      <div class="col-md-3 mb-5">
        <div class="card p-3">
            <img src="https://i.pinimg.com/280x280_RS/37/68/0a/37680a17ab5e0d83411f64463e5ed627.jpg" class="card-img-top" alt="Imagen de Producto 2">
            <div class="card-body text-center">
                <h5 class="card-title">Black work</h5><br>
                <button type="button" class="btn btn-primary" style="background-color: #40292d; border-color: #000000; color: #ffffff;" data-bs-toggle="modal" data-bs-target="#modalProducto4">
                    Más información
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
      <div class="card p-3">
          <img src="https://i.pinimg.com/474x/be/ae/b2/beaeb24ef3c41b35ebca457ac001ea54.jpg" class="card-img-top" alt="Imagen de Producto 2">
          <div class="card-body text-center">
              <h5 class="card-title">Minmalista</h5><br>
              <button type="button" class="btn btn-primary" style="background-color: #40292d; border-color: #000000; color: #ffffff;" Sdata-bs-toggle="modal" data-bs-target="#modalProducto5">
                  Más información
              </button>
          </div>
      </div>
  </div>
        <div class="col-md-3 mb-5">
            <div class="card p-3">
                <img src="https://i.pinimg.com/564x/fe/b6/51/feb65165005307987f974ad1f738c66a.jpg" class="card-img-top" alt="Imagen de Producto 3">
                <div class="card-body text-center">
                    <h5 class="card-title">Mandala</h5><br>
                    <button type="button" class="btn btn-primary" style="background-color: #40292d; border-color: #000000; color: #ffffff;" data-bs-toggle="modal" data-bs-target="#modalProducto6">
                        Más información
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProducto1" tabindex="-1" aria-labelledby="modalProducto1Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProducto1Label">Información del Producto 1</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://via.placeholder.com/600" class="img-fluid" alt="Imagen de Producto 1">
                <p>Detalles detallados del Producto 1.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Producto 2 -->
<div class="modal fade" id="modalProducto2" tabindex="-1" aria-labelledby="modalProducto2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProducto2Label">Información del Producto 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://via.placeholder.com/600" class="img-fluid" alt="Imagen de Producto 2">
                <p>Detalles detallados del Producto 2.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalProducto3" tabindex="-1" aria-labelledby="modalProducto3Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalProducto3Label">Información del Producto 3</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img src="https://via.placeholder.com/600" class="img-fluid" alt="Imagen de Producto 2">
              <p>Detalles detallados del Producto 2.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="modalProducto4" tabindex="-1" aria-labelledby="modalProducto4Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalProducto4Label">Información del Producto 4</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img src="https://via.placeholder.com/600" class="img-fluid" alt="Imagen de Producto 2">
              <p>Detalles detallados del Producto 4.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="modalProducto5" tabindex="-1" aria-labelledby="modalProducto5Label" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalProducto5Label">Información del Producto 5</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <img src="https://via.placeholder.com/600" class="img-fluid" alt="Imagen de Producto 2">
              <p>Detalles detallados del Producto 2.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
      </div>
  </div>
</div>
<div class="modal fade" id="modalProducto6" tabindex="-1" aria-labelledby="modalProducto6Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProducto6Label">Información del Producto 6</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://via.placeholder.com/600" class="img-fluid" alt="Imagen de Producto 3">
                <p>Detalles detallados del Producto 6.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous"></script>
</body>

</html>