#backgroundimage {
    height: 100vh;
    background-image: url(/assets/images/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tattooPreview, #piercingspreview, #tattooartistspreview, #locationpreview{
    text-align: center;
}

@font-face {
    font-family: 'Sketch';
    src: url('/assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
}

h1 {
    font-family: sketch;
    font-size: 90px;
}

.card-body {
    margin: 0;
}

.font {
    font-family: sketch;
    font-size: 2rem;
}

.mt {
    text-align: center;
}

.imageartists {
    height: 321px;
    width: 286px;
    object-fit: cover;
}

.cardsizepiercings {
    width: 18rem; 
    height: 26rem;
}
.cardsizetattoos {
    width: 18rem; 
    height: 30rem;
}

.cardsizetattooartists {
    width: 18rem; 
    height: 28rem;
}

#staticBackdropLabel {
    font-family: sketch;
    font-size: 3rem;
}

h2.font {
    font-size: 2.7rem;
}

.modalfont {
    text-align: center;
    font-family: sketch;
    font-size: 50px;
  }

.location {
    width: 600px; height: 450px;
    width: 600px; height: 450px;
}

.footerstyle{
    color: white
}

.sticky-button{
    background-color: transparent;
    border: none;
    font-size: 40px;
    position: fixed;
    bottom: 10px;
    left: 93%;
}

.logos {
    font-size: 30px;
    background-color: transparent;
    color: black;
}

#contactpreview {
    text-align: center;
    font-family: sketch;
    font-size: 50px;
}

.tattoopicture {
    width: 286px;
    height: 356.333px;
    object-fit: cover;
}

.piercingpicture {
    width: 286px;
    height: 286px;
    object-fit: cover;
}