#backgroundimage {
    height: 100vh;
    background-image: url(/assets/images/fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tattooPreview, #piercingspreview, #tattooartistspreview{
    text-align: center;
}

@font-face {
    font-family: 'Sketch';
    src: url('/assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
}

h1 {
    font-family: sketch;
    font-size: 90px;
}

.card-body {
    margin: 0;
}

.font {
    font-family: sketch;
    font-size: 2rem;
}

.mt {
    text-align: center;
}

.imageartists {
    height: 321px;
    width: 286px;
    object-fit: cover;
}

.cardsizepiercings {
    width: 18rem; 
    height: 26rem;
}