@font-face {
    font-family: 'Sketch';
    src: url('/assets/fonts/sketch_gothic_school/SketchGothicSchool.ttf');
}

h2 {
    font-family: sketch;
    font-size: 50px;
}

body {
    background-color: #363232;
}

label {
    font-weight: bold;
}


section {
    background-image: url('/assets/images/fondopintura.png');
}

