a.nav-link {
    color: #fff;
    font-weight: bold;
}

nav {
    background-color: rgb(24, 24, 24);
    display: flex!important;
    justify-content: center;
    align-items: center;
}

div.contenedor {
    display: flex!important;
    justify-content: center;

}

